# ---------------- NODE / HARDHAT ----------------
node_modules/
blockchain/node_modules/
blockchain/cache/
blockchain/artifacts/

# ---------------- ENV FILES / SECRETS ----------------
.env
backend/.env
blockchain/.env

# ---------------- DATABASE ----------------
backend/database.db
*.db
*.sqlite
*.sqlite3

# ---------------- PYTHON CACHE ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/__pycache__/

# ---------------- SYSTEM FILES ----------------
.DS_Store
Thumbs.db

# ---------------- VS CODE OPTIONAL ----------------
.vscode/

# ---------------- BACKUP FOLDER OPTIONAL ----------------
frontend/backup/